    <ol class="breadcrumb">
        <li><a href="#!dashboard">Home</a></li>
        <li><a href="#!articles">Articles</a></li>
        <li>Edit Article</li>
    </ol><!-- .breadcrumb -->    
    
    <div id="sucessMessage" class="alert alert-success alert-dismissable hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>Saved successfully.</span>
    </div>

    <div id="errorMessage" class="alert alert-danger alert-dismissable hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>Sorry an error occured.</span>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_details" data-toggle="tab"><strong>Edit an article</strong></a></li>
    </ul>
                                                              
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab_details">
            <form id="frmDetails" role="form" method="post" action="Article/save">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <input type="text" ng-model="article.title" class="form-control" placeholder="Enter title here" id="title" name="title" required />
                            <input type="text" ng-model="article.author" class="form-control" placeholder="Author's Name" id="author" name="author" required />	
                        </div>                                         
                    </div>
                    <div class="col-sm-4">
						<div class="form-group">
                            <input type="text" ng-model="article.published_date" class="form-control" id="published_date" name="published_date" required />
							<input type="radio" ng-model="article.position_no" name="position_no" value="1">1
							<input type="radio" ng-model="article.position_no" name="position_no" value="2">2
							<input type="radio" ng-model="article.position_no" name="position_no" value="3">3
							<input type="radio" ng-model="article.position_no" name="position_no" value="4">4
							<input type="radio" ng-model="article.position_no" name="position_no" value="5">5
							
							<div class="clear"></div>
							<input type="checkbox" ng-model="article.is_not_allocated" name="is_not_allocated" value="0">Not Allocated Yet
                        </div>  
					</div>
                </div>
                
				<div class="row">
					<div class="col-sm-12">
						<label class="control-label">Content</label>
						<textarea class="form-control" rows="4" ng-model="article.content" id="content" name="content"></textarea>
						
						<label class="control-label">Source URL</label>
						<input type="text" ng-model="article.source_url" class="form-control" placeholder="http://" id="source_url" name="source_url" required />	
					</div>  
                </div>
				
				<hr />
				
				<div class="row">
					<div class="col-sm-12">
						<label class="control-label">Notes</label>
						<textarea class="form-control" rows="4" ng-model="article.notes" id="notes" name="notes"></textarea>
					</div>  
                </div>
				
                <p>
                    <button class="submit btn btn-primary"><i class="fa fa-save"></i> <strong>Save Changes</strong></button>
                    <button class="submit btn btn-primary"><i class="fa fa-delete"></i> <strong>Delete</strong></button>
                </p>
            </form>            
        </div> <!-- End Details Tab -->
    </div>    