    <ol class="breadcrumb">
        <li><a href="#!dashboard">Home</a></li>
        <li><a href="#!articles">Articles</a></li>
        <li>Edit Article</li>
    </ol><!-- .breadcrumb -->    
    
    <div id="sucessMessage" class="alert alert-success alert-dismissable hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>Saved successfully.</span>
    </div>

    <div id="errorMessage" class="alert alert-danger alert-dismissable hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>Sorry an error occured.</span>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_details" data-toggle="tab"><strong>Edit an article</strong></a></li>
    </ul>
                                                              
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab_details">
            <form id="frmDetails" role="form" method="post" action="Article/save">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <input type="text" ng-model="article.title" class="form-control" placeholder="Enter title here" id="title" name="title" required />
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="article.author" class="form-control" placeholder="Author's Name" id="author" name="author" required />	
                        </div>                                         
                    </div>
                    <div class="col-sm-4">
						<div class="form-group">
							
							<div class="input-append date">
								<label class="control-label">To be published on 5ives on</label>
								<input type="text" ng-disabled="article.is_not_allocated == 1" ng-model="article.published_date" class="form-control" id="published_date" name="published_date" data-date-format="dd/mm/yyyy" required />
								<span class="add-on"><i class="icon-th"></i></span>
							</div>

							<input type="radio" ng-disabled="article.is_not_allocated == 1" ng-model="article.position_no" name="position_no" value="1">1
							<input type="radio" ng-disabled="article.is_not_allocated == 1" ng-model="article.position_no" name="position_no" value="2">2
							<input type="radio" ng-disabled="article.is_not_allocated == 1" ng-model="article.position_no" name="position_no" value="3">3
							<input type="radio" ng-disabled="article.is_not_allocated == 1" ng-model="article.position_no" name="position_no" value="4">4
							<input type="radio" ng-disabled="article.is_not_allocated == 1" ng-model="article.position_no" name="position_no" value="5">5

							<div class="clear"></div>
							<input type="checkbox" ng-model="article.is_not_allocated" id="is_not_allocated" ng-checked="article.is_not_allocated == 1">Not Allocated Yet
                        </div>  
					</div>
                </div>
				
				<div class="row">
					<div class="col-sm-6">
						<label class="control-label">Category</label>
						<select class="form-control" ng-model="selectedCategoryOption" ng-options="c.name for c in categories" required>
						<option value="">- Please select</option>
						</select>
					</div>
					
					<div class="col-sm-6">
						<label class="control-label">Location</label>
						<select class="form-control" ng-model="selectedLocationOption" ng-options="l.name for l in locations" required>
						<option value="">- Please select</option>
						</select>
					</div>
				</div>
                
				<div class="row top-margin">
					<div class="col-sm-12">
						<label class="control-label">Content</label>
						<div id="epiceditor2"></div>
						<textarea class="form-control hidden" rows="4" ng-model="article.content" id="content" name="content"></textarea>
						
						<label class="control-label top-margin">Source URL</label>
						<input type="text" ng-model="article.source_url" class="form-control" placeholder="http://" id="source_url" name="source_url" required />	
					</div>  
                </div>
				
				<hr />
				
				<div class="row">
					<div class="col-sm-12">
						<label class="control-label">Notes</label>
						<div id="epiceditor"></div>
						<textarea class="form-control hidden" rows="4" ng-model="article.notes" id="notes" name="notes"></textarea>
					</div>  
                </div>
                
                <div class="row top-margin">
                    <div class="col-sm-12">                
                        <button class="submit btn btn-primary" ng-click="save()"><i class="fa fa-save"></i> <strong>Save Changes</strong></button>
                        <button class="submit btn btn-primary" ng-click="delete()"><i class="fa fa-delete"></i> <strong>Delete</strong></button>
                    </div>
                </div>
            </form>            
        </div> <!-- End Details Tab -->
    </div>    