<div id="articleListWrapper">
    <ol class="breadcrumb">
        <li><a href="#!dashboard">Home</a></li>
        <li>Articles</li>
    </ol><!-- .breadcrumb -->
    
    <div class="page-header">
		<a href="#!/articles/detail/0" class="pull-right btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add New Article</a>
        <h3><strong>5ives for a day</strong></h3>
    </div>
    
    <form id="frmFilters" name="frmFilters" action="article/list" method="post">   
        <input type="hidden" id="page" name="page" value="1" />
        <input type="hidden" id="keywords" name="keywords" value="" />
    </form>
	
	<div class="row">
		<div class="col-sm-4">     
			<label class="control-label">Location</label>
			<select id="articleLocations" class="form-control" ng-model="selectedLocationOption" ng-change="load()" ng-options="l.name for l in locations" required>
				<option value="">- Please select</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4">     
			<div id="published_date"></div>
		</div>
		<div class="col-sm-8">    
			<div class="table-responsive">
			<table class="table table-striped table-hover" id="asignment_days">
				<tr id="position_1" ui-on-Drop="onDrop($event,$data)" drag-enter-class="position_enter">
					<td>1</td>
					<td><a href="#!articles/detail/0">Add</a></td>
				</tr>
				<tr id="position_2" ui-on-Drop="onDrop($event,$data)" drag-enter-class="position_enter">
					<td>2</td>
					<td><a href="#!articles/detail/0">Add</a></td>
				</tr>
				<tr id="position_3" ui-on-Drop="onDrop($event,$data)" drag-enter-class="position_enter">
					<td>3</td>
					<td><a href="#!articles/detail/0">Add</a></td>
				</tr>
				<tr id="position_4" ui-on-Drop="onDrop($event,$data)" drag-enter-class="position_enter">
					<td>4</td>
					<td><a href="#!articles/detail/0">Add</a></td>
				</tr>
				<tr id="position_5" ui-on-Drop="onDrop($event,$data)" drag-enter-class="position_enter">
					<td>5</td>
					<td><a href="#!articles/detail/0">Add</a></td>
				</tr>
			</table>
			</div>
		</div>
    </div>
	
	<hr />
    <label for="">Unallocated articles</label>
    <div class="table-responsive" id="list_unallocated_article">
        <table class="table table-striped table-hover" ui-draggable="{true}">
            <thead>
                <tr>
                    <th>Title</th>
                    <th width="20%">Editor</th>
                    <th width="20%">Category</th>
					<th width="20%">Actions</th>
                    <th width="20%">Added On</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in articles" ui-draggable="true" drag="article" on-drop-success="dropSuccessHandler($event,$index)">
                    <td><a href="#!articles/detail/{{article.id}}"><strong>{{article.title}}</strong></a></td>
                    <td>{{article.author}}</td>
                    <td>{{article.sharedCategory[0].name}}</td>
					<td myn-edit-remove callback-fn="handleAction(arg1, arg2)" data-id="{{article.id}}" item="article"></td>
                    <td myn-iso-to-uk-date-time-converter>{{article.created_dtm}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
    
    <div id="paginationWrapper" class="row">
			<div class="col-sm-9 col-md-10 hidden-xs" myn-pager pages="pages" callback-fn="handlePageClick(arg1)"></div>
    </div>
</div>

<form id="frmDelete" name="frmDelete" action="article/delete" method="post">   
    <input type="hidden" id="delete_ids" name="ids" value="" />
</form>