<ol class="breadcrumb">
	<li><a href="#!dashboard">Home</a></li>
	<li>Dashboard</li>
</ol><!-- .breadcrumb -->

<div class="page-header">
    <h3><strong>5ives! Dashboard</strong></h3>
</div>

<label for="">Articles</label>
<div class="table-responsive" id="statistics_articles">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th width="10%">Location</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="loc_statistics in statistics_articles">
				<td>{{loc_statistics.location}}</td>
				<td>{{loc_statistics.show_day[0]}}</td>
				<td>{{loc_statistics.show_day[1]}}</td>
				<td>{{loc_statistics.show_day[2]}}</td>
				<td>{{loc_statistics.show_day[3]}}</td>
				<td>{{loc_statistics.show_day[4]}}</td>
			</tr>
		</tbody>
	</table>
</div> 


<label for="">Sponders</label>
<div class="table-responsive" id="statistics_schedules">
	<table class="table">
		<thead>
			<tr>
				<th width="10%">Location</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div> 