    <ol class="breadcrumb">
        <li><a href="#!dashboard">Home</a></li>
        <li><a href="#!sponsors">Sponsors</a></li>
        <li>Edit Sponsor</li>
    </ol><!-- .breadcrumb -->    
    
    <div id="sucessMessage" class="alert alert-success alert-dismissable hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>Saved successfully.</span>
    </div>

    <div id="errorMessage" class="alert alert-danger alert-dismissable hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>Sorry an error occured.</span>
    </div>
    
    <div id="infoMessage" class="alert alert-info alert-dismissable hideOnNew">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span>You are editing the sponsor {{sponsor.name}}.</span>
    </div>    

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_details" data-toggle="tab"><strong>Sponsor Details</strong></a></li>
        <li class="hideOnNew"><a href="#tab_schedule" data-toggle="tab"><strong>Ad Schedule</strong></a></li>
    </ul>
                                                              
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab_details">
            <form id="frmDetails" role="form" method="post" action="category/save">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Sponsor Name</label>
                            <input type="text" ng-model="sponsor.name" class="form-control" placeholder="Sponsor Name" id="name" name="name" required />
                        </div> 
                        
                        <div class="form-group hideOnNew">
                            <label class="control-label">Notes</label>
                            <textarea class="form-control" placeholder="General Notes" rows="4" ng-model="sponsor.notes" id="notes" name="notes"></textarea>
                        </div>                                                               
                    </div>
                    <div class="col-sm-4 hideOnNew">
                        <div class="form-group">
                            <label class="control-label">Default Advertising Text</label>
                            <div id="epiceditor"></div>
                            <textarea class="form-control hidden" rows="4" ng-model="sponsor.default_text" id="default_text" name="default_text"></textarea>
                        </div>                    
                    </div>
                    <div class="col-sm-4 hideOnNew">
                        <div class="form-group">
                            <label class="control-label">Sponsor Logo</label>
                            <div id="logoImageWrapper"></div>
                        </div>
                        
                        <div id="deleteLogoWrapper" class="form-group">
                            <a href="javascript:void(0);" class="btn btn-sm btn-danger" ng-click="deleteImage()"><i class="fa fa-trash-o"></i> Remove</a>
                        </div>
                        
                        <div class="form-group">
                            <div id="upload_logo"></div> 
                        </div>                    
                    </div>
                </div>
                
                <p>
                    <button class="submit btn btn-primary"><i class="fa fa-save"></i> <strong>Save Changes</strong></button>
                </p>
            </form>            
        </div><!-- End Details Tab --> 
        
        <!-- Start Schedule Tab -->
        <div class="tab-pane fade in" id="tab_schedule">
            <div class="page-header">
                <a data-toggle="modal" href="#scheduleModal" class="pull-right btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add To Schedule</a>
                <h3><strong>Current Schedule</strong></h3>
            </div>
            
            <form id="frmDetails" role="form" method="post" action="schedule/list">    
            
            </form>
        </div><!-- End Schedule Tab -->       
    </div>
    
    
    <!-- Schedule modal -->
    <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Schedule Details</h4>
                </div>
                
                <div class="modal-body">
                    <form id="frmScheduleDetails" role="form" method="post">    
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date From</label>
                                    <input type="text" ng-model="schedule.date_from" class="form-control datepicker" placeholder="Date From" id="schedule_date_from" name="date_from" required />
                                </div> 
                                
                                <div class="form-group hideOnNew">
                                    <label class="control-label">Date To</label>
                                    <input type="text" ng-model="schedule.date_to" class="form-control datepicker" placeholder="Date To" id="schedule_date_to" name="date_to" required />
                                </div>                                                               
                            </div>
                         </div>                    
                    </form>                    
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    
    
        